{% extends "base.html" %}
{% block body_block %}
<br>
<div class="container content">
  <div>
    <center><h1>Analysis Creation</h1></center>
    {% if user.is_authenticated %} 
	    <form method="post" action="{% url 'analysis:view_tweets' %}" target="_self">
		    {% csrf_token %}			
		    {{studies_html|safe}}		
	      <input type="hidden" name="analysis_select" value="tweet_sent">
	    </form>
    {% else %}
        <h2>Must be logged in to create an anlysis.</h2>
    {% endif %}
  </div>
</div>
{% endblock %}
