<html>
<head>
<!-- Some CSS goes here -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
</head>
<body>
	<nav class="navbar navbar-default navbar-static-top">
		<div class="container">
			<ul class="nav navbar-nav">
			<center>
			<li>
			<img src="http://www.massmine.org/images/massmine-logo-horizontal.png" alt="Massmine-logo" width="100" height="40">
					</center>	</li>	
			</ul>
		</div>
	</nav>
</body>
<center>
<br><br>
	<h3>Forgot your password?</h3>
	<p> Please enter the email address registered on your account</p>
	<br><br>
	<div class="jumbotron">
	<form method="POST"> 
		{% csrf_token %}
		{{ form.as_p }}
		<input type ="submit" value="Send email">
	</form>
<a href="{% url 'accounts:user_login' %}">Go back</a>
	</div>
</center>

